@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="musicStoreApp">
<head>
    <title>Music Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render(
      "~/Content/bootstrap")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Music Store</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navHeaderCollapse">
                <ul class="nav navbar-nav" ng-controller="NavbarController as navbar">
                    <li ng-class="{'active': navbar.getClass('/Home')}">
                        <a href="#/Home"><span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li ng-class="{'active': navbar.getClass('/Store')}">
                        <a href="#/Store"><span class="glyphicon glyphicon-music"></span> Store</a>
                    </li>
                    <li ng-class="{'active': navbar.getClass('/Cart')}">
                        <a href="#/Cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
                    </li>
                    <li ng-class="{'active': navbar.getClass('/Admin')}">
                        <a href="#/Admin"><span class="glyphicon glyphicon-user"></span> Admin</a>
                    </li>
                    <li ng-class="{'active': navbar.getClass('/StoreManager')}">
                        <a href="#/StoreManager"><span class="glyphicon glyphicon-list-alt"></span> Store Manager</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-wrench"></span>
                            Configuration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/Configuration/Artists">Artists</a></li>
                            <li><a href="#/Configuration/Genres">Genres</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div ng-controller="GenreListController as genreList">
                            <ul class="nav nav-pills nav-stacked" role="navigation">
                                <li class="nav-header">Music Genre</li>
                                <li class="nav-divider"></li>
                                <li ng-repeat="genre in genreList.genres" ng-class="{'active': genreList.getClass(genre.name)}">
                                    <a href="#/Store/Browse?genre={{genre.name}}">
                                        <span ng-bind="genre.name"></span>
                                    </a>
                                </li>
                                <li class="active"><a href="#"><span class="badge pull-right">3</span>Rock</a></li>
                                <li><a href="#"><span class="badge pull-right">2</span>Ballad</a></li>
                                <li><a href="#"><span class="badge pull-right">1</span>POP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">Site built by Jayson Valeroso</p>
        </div>
    </footer>

    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jqueryval",
            "~/bundles/modernizr",
            "~/bundles/bootstrap",
            "~/bundles/angular",
            "~/bundles/restangular",
            "~/bundles/musicstore-app")
</body>
</html>
﻿

