<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="core">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul class="nav nav-pills" ng-controller="NavbarController">
                <li ng-class="{'active': getClass('/Home')}"><a href="#/Home">Home</a></li>
                <li ng-class="{'active': getClass('/Store')}"><a href="#/Store">Store</a></li>
                <li ng-class="{'active': getClass('/Cart')}"><a href="#/Cart">Cart</a></li>
            </ul>
        </div>
        <ul>
        </ul>
        <div ng-view=""></div>
    </div>
</body>
</html>-->



