<div class="container-fluid">
    <hr/>
    <div class="row-fluid">
        <div class="span6">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="lblTitle">Title</label>
                    <div class="controls">
                        <input type="text" id="lblTitle" ng-model="album.title" ng-disabled="true" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="lblArtist">Artist</label>
                    <div class="controls">
                        <input type="text" id="lblArtist" ng-model="album.artist.name" ng-disabled="true" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="lblGenre">Genre</label>
                    <div class="controls">
                        <input type="text" id="lblGenre" ng-model="album.genre.name" ng-disabled="true" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="lblPrice">Price</label>
                    <div class="controls">
                        <input type="text" id="lblPrice" ng-model="album.price" ng-disabled="true" />
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="btn btn-default" onclick="window.history.back()">&larr;&nbsp;&nbsp;Back</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span6"></div>
    </div>
</div>


