<h2>Delete Confirmation</h2>
<p>
    Are you sure you want to delete this album titled <strong><span ng-bind="selectedAlbum.title"></span></strong>?
</p>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="btn btn-default" ng-click="deleteAlbum(selectedAlbum.id)">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span6"></div>
    </div>
</div>
