
<form name="genreForm">
    <fieldset>
        <legend>Create Genre</legend>
        <div class="control-group">
            <label class="control-label" for="inputGenre">Genre:</label>
            <div class="controls">
                <input type="text" id="inputGenre" name="inputGenre" placeholder="Genre" ng-model="newGenre.name" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description:</label>
            <div class="controls">
                <input type="text" id="inputDescription" name="inputDescription" placeholder="Genre" ng-model="newGenre.description" required />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" ng-disabled="genreForm.$invalid" class="btn btn-info" ng-click="createNewGenre(newGenre)">Save</button>
                <button type="button" class="btn btn-default" onclick="window.history.back()">&larr;&nbsp;&nbsp;Back</button>
            </div>
        </div>
    </fieldset>
</form>
