<ul class="thumbnails">
    <li ng-repeat="album in albums" class="span3">
        <div class="thumbnail">
            <!--img alt="{{albumTitle}}" src="{{album.AlbumArtURL}}" /-->
            <div class="caption">
                <h4>{{album.Title}}</h4>
                <p>Artist: {{album.ArtistName}}</p>
                <p>Album: {{album.GenreName}}</p>
                <p>Price: {{album.Price}}</p>
                <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </li>
</ul>

