<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="core">
<head>
    <title></title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">

        .animate-enter {
            -webkit-transition: 1s linear all; /* Safari/Chrome */
            -moz-transition: 1s linear all; /* Firefox */
            -ms-transition: 1s linear all; /* IE10 */
            -o-transition: 1s linear all; /* Opera */
            transition: 1s linear all; /* Future Browsers */
            opacity: 0;
        }

        .animate-enter.animate-enter-active {

                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul class="nav nav-pills" ng-controller="NavbarController">
                <li ng-class="{'active': getClass('/Home')}"><a href="#/Home">Home</a></li>
                <li ng-class="{'active': getClass('/Store')}"><a href="#/Store">Store</a></li>
                <li ng-class="{'active': getClass('/Cart')}"><a href="#/Cart">Cart</a></li>
            </ul>
        </div>
        <div ng-controller="GenreController" style="float: left; width: 200px;">
            <ul ng-repeat="genre in genres" >
                <li><a href="#/Store/Browse?genre={{genre}}">{{genre}}</a></li>
            </ul>
        </div>
        <div ng-view="" ng-animate="'animate'" style="float: right; width: 970px;"/>
    </div>
</body>
</html>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Angular/core.js"></script>
<script src="~/Angular/Controllers/Controller.js"></script>
<script src="~/Angular/Factory/StoreFactory.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
