<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="core">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }


        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        .animate-enter {
            -webkit-transition: 1s linear all; /* Chrome */
            transition: 1s linear all;
            opacity: 0;
        }

            .animate-enter.animate-enter-active {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="#" class="brand">Music Store</a>
                <div class="nav-collapse collapse">
                    <ul class="nav" ng-controller="NavbarController">
                        <li ng-class="{'active': getClass('/Home')}"><a href="#/Home">Home</a></li>
                        <li ng-class="{'active': getClass('/Store')}"><a href="#/Store">Store</a></li>
                        <li ng-class="{'active': getClass('/Cart')}"><a href="#/Cart">Cart</a></li>
                        <li ng-class="{'active': getClass('/Admin')}"><a href="#/Admin">Admin</a></li>
                        <li ng-class="{'active': getClass('/StoreManager')}"><a href="#/StoreManager">Store Manager</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div ng-controller="GenreController" class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Genre</li>
                        <li ng-repeat="genre in genres" ng-class="{'active': getClass('{{genre.Name}}')}">
                            <a href="#/Store/Browse?genre={{genre.Name}}">
                                {{genre.Name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" />
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-2.0.3.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Angular/core.js"></script>
<script src="~/Angular/Controllers/Controller.js"></script>
<script src="~/Angular/Factories/StoreFactory.js"></script>


