<form id="mainForm" role="form" class="form-horizontal">
    <fieldset>
        <legend>Album Details</legend>
        <div class="container">
            <div class="form-group">
                <label class="control-label col-sm-2" for="lblTitle">Title</label>
                <div class="col-sm-5">
                    <input type="text" id="lblTitle" ng-disabled="true" class="form-control" ng-model="albumDtlsCtrl.album.title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lblPrice">Price</label>
                <div class="col-sm-5">
                    <input type="text" id="lblPrice" ng-disabled="true" class="form-control" ng-model="albumDtlsCtrl.album.price">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lblArtist">Aritst</label>
                <div class="col-sm-5">
                    <input type="text" id="lblArtist" ng-disabled="true" class="form-control" ng-model="albumDtlsCtrl.album.artist.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lblGenre">Genre</label>
                <div class="col-sm-5">
                    <input type="text" id="lblGenre" ng-disabled="true" class="form-control" ng-model="albumDtlsCtrl.album.genre.name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" onclick=" window.history.back() ">&larr;&nbsp;&nbsp;Back</button>
            </div>
        </div>
    </fieldset>
</form>