<h2>Store Manager</h2>
<hr />
<!--a href="#StoreManager" role="button" class="btn btn-default" data-toggle="modal" ng-click="setOperation(insert)"><i class="icon-plus-sign"></i> Create New</!--a>
    <a href="#/StoreManager/CreateArtist" role="button" class="btn btn-default"><i class="icon-plus-sign"></i> Create Arstist</a>
    <a href="#/StoreManager/CreateGenre" role="button" class="btn btn-default"><i class="icon-plus-sign"></i> Create Genre</a>
    <!--div id="StoreManager" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="True">x</button>
            <h3 id="createModalLabel">Create Album</h3>
        </div>
        <div class="modal-body">
            <form>
                <fieldset>
                    <label>Title</label>
                    <input type="text" placeholder="Album name" ng-model="newAlbum.title" />
                    <label>Price</label>
                    <input type="text" placeholder="Album price" ng-model="newAlbum.price" />
                    <label>Album URL</label>
                    <input type="text" placeholder="Album URL" ng-model="newAlbum.albumArtURL" />
                    <label>Artist</label>
                    <select ng-model="newAlbum.artist.id">
                        <option value=""></option>
                        <option ng-repeat="artist in artists" value="{{artist.id}}">{{artist.name}}</option>
                    </select>
                    <label>Genre</label>
                    <select ng-model="newAlbum.genre.id">
                        <option value=""></option>
                        <option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
                    </select>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="True">Close</button>
            <button class="btn btn-primary" ng-click="createAlbum(newAlbum)" data-dismiss="modal" aria-hidden="True">Save</button>
        </div>
        </!--div-->
<div class="container-fluid">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Artist</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="album in albums">
                <td><span ng-bind="album.title"></span></td>
                <td><span ng-bind="album.price"></span></td>
                <td><span ng-bind="album.artist.name"></span></td>
                <td><span ng-bind="album.genre.name"></span></td>
                <td>
                    <a href="#/StoreManager/Details/{{album.id}}"><i class="icon-align-justify"></i> Details</a> |
                    <a href="#StoreManager/Edit/{{album.id}}"><i class="icon-edit"></i> Edit</a> |
                    <a href="#/StoreManager/Delete/{{album.id}}"><i class="icon-trash"></i> Delete</a>
                </td>
            </tr>
            <tr ng-show="albums.length == 0" class="error">
                <td colspan="5" style="text-align: center"><em>No results found</em></td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn btn-default" ng-href="#/StoreManager/Create">Create Album</a>
</div>